/*---------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: ',';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*---------------------------------------*/
/* REUSEABLE COMPONENTS  */
/*---------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section { padding: 80px 0; }

.box { padding: 1%; }


/* HEADINGS */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

/* MAIN NAV */
.main-nav {
	list-style: none;
	float: right;
	margin: 15px;
}

.main-nav li {
	display: inline-block;
	margin-left: 35px;
}

.main-nav li a:link,
.main-nav li a:visited{
	color: #000;
	padding: 8px 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 92%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active { border-bottom: 3px solid #000}