.titleBar {
  background: #000;
  display: block;
  color: #fff
}

.inputBox {
  font-size: 24px;
  display: block;
  width: 100%;
}

.movie_poster {
  width: 95px;
  padding-left: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
